.flex-container {
  display: flex;
  justify-content: center;
  background-color: dodgerblue;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
}

.two {
  background-image: url(./assets/background.png);
  text-align: center;
}

.two .form {
  margin-bottom: 15px;
  align-items: center;
}

.form label {
  color: black;
}

.content p{
  margin-right: -50px;
  margin-left: 80px;
  font-size: 20px;
}
img {
  margin-left: 75px;
  margin-right: 20px;
  margin-top: 10px;
}
